@{
    ViewData["Title"] = "Manager Page";
    Layout = "_LayoutAdmin";
}



<div class="p-3">
    <div class="mb-3 text-center">
        <h3>Data Vendor</h3>
    </div>
    <div>
    </div>
    <div class="card shadow mb-5" id="contoh">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark ">List Vendor</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover display nowrap dataTable dtr-inline table table-bordered table-striped text-center  table-hover" id="table_vendor2">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Company Name </th>
                            <th>Email </th>
                            <th>Phone </th>
                            <th>Status </th>
                            <th>Photo </th>
                            <th colspan="1">Action</th>
                        </tr>
                    </thead>
                    <tbody id="">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal Detail -->
<div class=" open-modal modal fade" id="modalDetail2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location.reload()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="formValidation2" name="nameModal" method="post" style="width:100%!important">
                    <div class="row mb-2">
                        <div class="col">
                            <label>Company Name</label>
                            <input readonly type="text" class="form-control " id="CompanyName2" name="CompanyName" placeholder="Company Name....">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Email</label>
                            <input readonly type="email" class="form-control " id="EmailR2" name="EmailR" placeholder="Email....">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Phone</label>
                            <input readonly type="text" class="form-control " id="Phone2" name="Phone" placeholder="Phone....">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Corpotrate Busineess</label>
                            <input readonly type="text" class="form-control " id="CorpotrateBusineess2" name="CorpotrateBusineess">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Type Corporate</label>
                            <input readonly type="text" class="form-control " id="Type2" name="Type">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Status</label>
                            <input readonly type="text" class="form-control " id="Status2" name="Status">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Photo</label>
                            <p style="text-align: center;">
                                <img id="PhotoDet2" src="" width="250" height="300">
                            </p>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class=" open-modal modal fade" id="modalUpdate2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="window.location.reload()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="formValidation" name="nameModal" method="post" style="width:100%!important">
                    <div class="row mb-2">
                        <div class="col">
                            <label>Company Name</label>
                            <input type="text" class="form-control " id="uCompanyName2" name="CompanyName" placeholder="Company Name....">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Email</label>
                            <input type="email" class="form-control " id="uEmailR2" name="EmailR" placeholder="Email....">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Phone</label>
                            <input type="text" class="form-control " id="uPhone2" name="Phone" placeholder="Phone....">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Corpotrate Busineess</label>
                            <input type="text" class="form-control " id="uCorpotrateBusineess2" name="CorpotrateBusineess">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Type Corporate</label>
                            <input type="text" class="form-control " id="uType2" name="Type">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Status</label>
                            <select class="form-control" id="uStatus2" aria-label="Default select example">
                                <option value="">Pilih</option>
                                <option value="Pending-1">Pending</option>
                                <option value="Approve">Approve</option>
                                <option value="Reject">Reject</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <label>Photo</label>
                            <p style="text-align: center;">
                                <img id="uPhotoDet2" src="" width="250" height="250">
                            </p>
                            <input type="hidden" id="uPhoto-strImgBs642" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class=" tombol btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">CLose</button>
                        <button id="btnUpdateV2" type="button" class="btn btn-primary">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $('#table_vendor2').DataTable({
                columnDefs: [{
                    targets: [0],
                    visible: false
                }],
                'ajax': {
                    'url': "/Users/GetAllVendor/" + 2,
                    'order': [[0, 'asc']],
                    'dataSrc': '',
                },
                'columns': [
                    {
                        data: 'no', name: 'id', render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: 'companyName' },
                    { data: 'email' },
                    {
                        data: 'phone',
                        render: function (data, type, row, meta) {
                            if (row['phone'].search(0) == 0) {
                                return row['phone'].replace('0', '+62');
                            } else {
                                return row['phone'];
                            }
                        }
                    },
                    { data: 'status' },
                    {
                        data: 'photo',
                        render: function (data, type, row, meta) {
                            if (data) {
                                return '<img src="data:image/png;base64,' + data + '" alt="Gambar" style="max-width:100px; max-height:100px;">';
                            } else {
                                return 'Tidak ada gambar';
                            }
                        }
                    },
                    {
                        data: '',
                        render: function (data, type, row, meta) {
                            return `<td scope="row">
                                                                            <a class="btn btn-warning btn-sm text-light" data-url="" onclick="getData2('${row.email}')" title="Detail"><i class="fa fa-info-circle"></i></a>
                                                                        </td>
                                                                        <td scope="row">
                                                                            <a class="btn btn-primary btn-sm text-light" data-url="" onclick="getUpdate2('${row.email}')" title="Update"><i class="far fa-edit"></i></a>
                                                                        </td>
                                                                        <td scope="row">
                                                                            <button type="button" class="btn btn-danger btn-sm text-light" onclick="DeleteVendor2('${row.email}')" title="Delete">
                                                                                <i class="fas fa-trash-alt"></i>
                                                                            </button>
                                                                        </td>`;
                        }
                    }
                ],

            });
        });
        function getData2(email) {
            $.ajax({
                url: "/Users/GetDataVendor/",
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: { email: email },
                success: function (result) {
                    var data = result[0];
                    $('#CompanyName2').val(data.companyName);
                    $('#EmailR2').val(data.email);
                    $('#Phone2').val(data.phone);
                    $('#CorpotrateBusineess2').val(data.corporatebusiness);
                    $('#Type2').val(data.typeCompany);
                    $('#Status2').val(data.status);
                    $('#PhotoDet2').attr('src', 'data:image/png;base64,' + data.photo);

                    //$('#hid').hide();
                    $('#modalDetail2').modal('show');
                },
                error: function (errormessage) {
                    swal({
                        title: "FAILED",
                        text: "Data tidak ditemukan!",
                        icon: "error"
                    })
                    return false;
                }
            });
            return false;
        }
        function getUpdate2(email) {
            $.ajax({
                url: "/Users/GetDataVendor/",
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: { email: email },
                success: function (result) {
                    var data = result[0];
                    $('#uCompanyName2').val(data.companyName);
                    $('#uEmailR2').val(data.email);
                    $('#uPhone2').val(data.phone);
                    $('#uCorpotrateBusineess2').val(data.corporatebusiness);
                    $('#uType2').val(data.typeCompany);
                    $('#uStatus2').val(data.status);
                    $('#uPhotoDet2').attr('src', 'data:image/png;base64,' + data.photo);
                    $('#uPhoto-strImgBs642').val(data.photo)

                    //$('#hid').hide();
                    $('#modalUpdate2').modal('show');
                },
                error: function (errormessage) {
                    swal({
                        title: "FAILED",
                        text: "Data tidak ditemukan!",
                        icon: "error"
                    })
                    return false;
                }
            });
            return false;
        }
        var obj = new Object();
        $('#btnUpdateV2').click(function (e) {
            obj = {};
            obj.CompanyName = $('#uCompanyName2').val();
            obj.Email = $('#uEmailR2').val();
            obj.Phone = $('#uPhone2').val();
            obj.Photo = $('#uPhoto-strImgBs642').val();
            obj.Corporatebusiness = $('#uCorpotrateBusineess2').val();
            obj.TypeCompany = $('#uType2').val();
            obj.Status = $('#uStatus2').val();

            $.ajax({
                'url': "/Users/Put/" + obj.Email,
                'type': 'PUT',
                'data': { id: obj.Email, entity: obj },
                'dataType': 'json',
            }).done((result) => {
                if (result == 200) {
                    swal({
                        title: "Good job!",
                        text: "Data berhasil diupdate.",
                        icon: "success",
                        showConfirmButton: false,
                        timer: 2000
                    }).then(function () {
                        window.location.reload();
                    });
                } else if (result == 400) {
                    swal({
                        title: "Failed!",
                        text: "Data Gagal diupdate.",
                        icon: "error",
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }).fail((error) => {
                swal({
                    title: "Failed!",
                    text: "Data Gagal diupdate.",
                    icon: "error",
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        });

        function DeleteVendor2(email) {
            swal({
                title: "Are you sure?",
                text: "Data yang Anda pilih akan terhapus secara permanen!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/Users/Delete/" + email,
                        type: "DELETE",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {
                            swal({
                                title: "SUCCESSED",
                                text: "Data berhasil dihapus!",
                                icon: "success"
                            }).then(function () {
                                window.location.reload();
                            });
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                } else {
                    swal("Data Anda aman tidak terhapus");
                }
            });
        }
    </script>
}

